In [1]:
#dict is all about key value pair, starts and ends with {}, 
#example dict1={'key1': value1, 'key2': value2, 'key3':[list],'key4':{dict}}

In [2]:
dict_x={'key1':'value1', 'key2':'value2', 'key3':'value3'}

In [3]:
dict_x

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [7]:
list_object=[1,2,3,4]
dict_y= {'key4':'value4','key2':list_object,'key3':[dict_x]}
dict_y

{'key4': 'value4',
 'key2': [1, 2, 3, 4],
 'key3': [{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}]}

In [5]:
dict_1={'brand':'Ford', 'cost': 25000}
dict_1

{'brand': 'Ford', 'cost': 25000}

In [6]:
#to access value ford, type the key in [] with dict name, as below:
dict_1['brand']

'Ford'

In [7]:
#changing the value for a key (as dict are mutable)
dict_1['brand']='Audi'

In [8]:
dict_1

{'brand': 'Audi', 'cost': 25000}

In [9]:
#adding a new key-value pair
dict_1['transmission']='Manual'

In [10]:
dict_1

{'brand': 'Audi', 'cost': 25000, 'transmission': 'Manual'}

In [ ]:
#adding other key-value pair by embedding a dictionary objct itself

In [11]:
dict_1['other_attributes']={'color':'Black', 'year':2021}

In [12]:
dict_1

{'brand': 'Audi',
 'cost': 25000,
 'transmission': 'Manual',
 'other_attributes': {'color': 'Black', 'year': 2021}}

In [13]:
# to access value of year=2021, how shoudl we do it?
dict_1['other_attributes']['year']

2021

In [14]:
#adding a list object to dictionary key
dict_1['previous_owners']=['Mike', 'Shelly', 'Nitin']

In [15]:
dict_1

{'brand': 'Audi',
 'cost': 25000,
 'transmission': 'Manual',
 'other_attributes': {'color': 'Black', 'year': 2021},
 'previous_owners': ['Mike', 'Shelly', 'Nitin']}

In [16]:
dict_1['previous_owners']

['Mike', 'Shelly', 'Nitin']

In [ ]:
#storing above value in a variable to ease the indexing

In [17]:
x=dict_1['previous_owners']
x

['Mike', 'Shelly', 'Nitin']

In [18]:
x[1]

'Shelly'

In [19]:
#alternatively, we can type 
dict_1['previous_owners'][1]

'Shelly'

In [20]:
dict_1

{'brand': 'Audi',
 'cost': 25000,
 'transmission': 'Manual',
 'other_attributes': {'color': 'Black', 'year': 2021},
 'previous_owners': ['Mike', 'Shelly', 'Nitin']}

In [ ]:
#dictionary methods(pop,items, KEYS )

In [21]:
dict_1.pop('previous_owners') # like lists, this will display and then remove 'previous owners' key and value

['Mike', 'Shelly', 'Nitin']

In [22]:
dict_1

{'brand': 'Audi',
 'cost': 25000,
 'transmission': 'Manual',
 'other_attributes': {'color': 'Black', 'year': 2021}}

In [23]:
dict_1.items() # it returned the key-value pairs as tTUPLES

dict_items([('brand', 'Audi'), ('cost', 25000), ('transmission', 'Manual'), ('other_attributes', {'color': 'Black', 'year': 2021})])

In [24]:
dict_1.keys() #return all keys as list

dict_keys(['brand', 'cost', 'transmission', 'other_attributes'])

In [25]:
dict_1.values() #simlarly, values method return all keys as list

dict_values(['Audi', 25000, 'Manual', {'color': 'Black', 'year': 2021}])

In [26]:
#refer python.org for more
#coding excercise follows

In [27]:
employee={'id':2557744, 'salary':135000}
employee

{'id': 2557744, 'salary': 135000}