In [1]:
#TUPLES
#tuples (immutables, and allows duplicates)
#lists are mutables

In [2]:
x=(1,2,2,3)
x

(1, 2, 2, 3)

In [3]:
type(x)

tuple

In [4]:
#tuples can too store multiple data types
x=(1, 'John', [1,2,3], {'key1':'value1'})

In [5]:
x

(1, 'John', [1, 2, 3], {'key1': 'value1'})

In [6]:
type(x)

tuple

In [8]:
#indexing and slicing Tuple
x[0]

1

In [9]:
#demoing immutability, i.e. value cant be changed

In [10]:
x[0]=2

TypeError: 'tuple' object does not support item assignment

In [11]:
#above error suggests that tuples are immutable, and hence doesn't support item assignment

In [12]:
#only 2 methods are assoicated with tuples (count and index)
#counts displaces how many times an item is present in the tuple
#indexs tells us the first position of the item

In [13]:
x=(1,1,1,2,3,3,3,3) #reassigned x
x.count(1)

3

In [14]:
x.count(2)

1

In [15]:
x.count(3)

4

In [16]:
x.index(1) # as we can see 1st 1 is at postion 0

0

In [17]:
x.index(2) # as we can see 1st 2 is at postion 3

3

In [18]:
x.index(3) # as we can see 1st 3 is at postion 4

4

In [19]:
#NOW SETS (mutable, but no duplicates, and are unordered)
#sets are also in curly brackets, but ARE NOT dictionary (as no key-value pair applibacle here).
#just like tuples but in curly bracket
#Can not index or slice

In [20]:
y={1,2,3}
y

{1, 2, 3}

In [21]:
type(y)

set

In [23]:
#to create an empty set
y=set()

In [24]:
y

set()

In [25]:
type(y)

set

In [26]:
#intutively, we go to creating empty set like this
y={}

In [27]:
type(y) # but this leads to creating a dictionary

dict

In [28]:
y={1,2,'John'}

In [29]:
y

{1, 2, 'John'}

In [30]:
#SET Methods (add,)

In [31]:
y.add(5) #to add an element to the set

In [32]:
y

{1, 2, 5, 'John'}

In [33]:
#lets try adding 5 again, it wont throw an error, but also it wont add a duplicate 5. Lets see that below
y.add(5)

In [34]:
y

{1, 2, 5, 'John'}

In [35]:
# so you see, no duplicate 5. Also below rr set is another example

In [36]:
rr={1,1,2}

In [37]:
rr

{1, 2}

In [38]:
type(rr)

set

In [39]:
#so, you see no duplicate allowed in a set

In [40]:
#lets try indexing, but it wont allow it too, as sets doesn't allow indexing

rr[1]

TypeError: 'set' object is not subscriptable

In [41]:
#hence we get error, when trying to index it

In [42]:
#converting list to set (notice duplicates are removed automatically)

In [43]:
list_1=[1,2,2,3]

In [44]:
set_1=set(list_1) #conversion to set

In [45]:
set_1

{1, 2, 3}

In [46]:
#intersection method

In [47]:
x={1,2,3,4}
y={3,4,5,6}

In [48]:
x

{1, 2, 3, 4}

In [49]:
y

{3, 4, 5, 6}

In [50]:
#intersection return common value
x.intersection(y)

{3, 4}

In [51]:
#intersection method is not available for lists & tuples. However they can be converted to sets to perform this method.
#but remember, converting to set means removing duplicates

In [52]:
#follow w3 schools for motre useful set methods. there are lots and lots of method avaialble

In [53]:
#coding excercise

In [55]:
Tup=(1,2,'John',{'key1':'value1'})
Tup

(1, 2, 'John', {'key1': 'value1'})

In [56]:
type(Tup)

tuple

In [59]:
st={1,2,'John'}

In [60]:
st

{1, 2, 'John'}

In [61]:
#BOOLEANS (data type with 2 possible values - TRUE/FALSE)

In [63]:
type(True)

bool

In [64]:
type(False)

bool

In [65]:
int(True)

1

In [66]:
#mostly used in conditions

In [67]:
5>7

False

In [68]:
type(5>7)

bool

In [69]:
#keywords

In [70]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [75]:
help('not')

Boolean operations
******************

   or_test  ::= and_test | or_test "or" and_test
   and_test ::= not_test | and_test "and" not_test
   not_test ::= comparison | "not" not_test

In the context of Boolean operations, and also when expressions are
used by control flow statements, the following values are interpreted
as false: "False", "None", numeric zero of all types, and empty
strings and containers (including strings, tuples, lists,
dictionaries, sets and frozensets).  All other values are interpreted
as true.  User-defined objects can customize their truth value by
providing a "__bool__()" method.

The operator "not" yields "True" if its argument is false, "False"
otherwise.

The expression "x and y" first evaluates *x*; if *x* is false, its
value is returned; otherwise, *y* is evaluated and the resulting value
is returned.

The expression "x or y" first evaluates *x*; if *x* is true, its value
is returned; otherwise, *y* is evaluated and the resulting value is
returned.

Note that neither "and" nor "or" restrict the value and type they
return to "False" and "True", but rather return the last evaluated
argument.  This is sometimes useful, e.g., if "s" is a string that
should be replaced by a default value if it is empty, the expression
"s or 'foo'" yields the desired value.  Because "not" has to create a
new value, it returns a boolean value regardless of the type of its
argument (for example, "not 'foo'" produces "False" rather than "''".)

Related help topics: EXPRESSIONS, TRUTHVALUE