In [1]:
#LOOPS

In [ ]:
#iterable objects: objects that are capable of returning their each elements ne at a time
#example list below (next - tuples too are iterable)

In [ ]:
#syntax for for
# for ELEMENT_VARIABLE in ITERABLE_OBJECT:
       # print(ELEMENT_VARIABLE)

In [1]:
for x in ['sofa', 'tv,', 'desk', 'lamp']:
    print(x)

sofa
tv,
desk
lamp

In [5]:
#or

In [6]:
furniture=['sofa', 'tv', 'desk', 'lamp']

In [7]:
for x in furniture:
    print(x)

sofa
tv
desk
lamp

In [14]:
for elements in furniture:
    print(elements)

sofa
tv
desk
lamp

In [20]:
for elements in furniture:
    print('elements')

elements
elements
elements
elements

In [ ]:
#as we have quoted the word 'elements', it will print the word for # of times corresponding to each list elements

In [15]:
x

'lamp'

In [16]:
print(x)

lamp

In [17]:
element

'lamp'

In [18]:
#why returning only last value ....? lets see if we are able to find it out, leave it for now
#got it - its because after the loop eneded, x & element have taken the last value :P

In [32]:
num=0
list_1=[1,2,3,4,5]

In [30]:
for x in list_1:
    print(num)
    num=num+1

0
1
2
3
4

In [ ]:
#prints 0, then add 1, then print 1, then adds 1, then prints 2...so in 5 iterations we get 0,1,2,3,4

In [33]:
for x in list_1: # run line 33 after line 32 (dont run line 30, else values chages)
        num=num+1
        print(num)

1
2
3
4
5

In [34]:
# but here; #first it adds 1 to 0, then print 1, then adds 1, then prints 2...so in 5 iterations we get 1,2,3,4,5
#also num = num+1 can be written as "num+=1", lets see below

In [36]:
num=0
for x in list_1:
    print(num)
    num+=1

0
1
2
3
4

In [37]:
num=0
for x in list_1:
    num+=1
    print (num)

1
2
3
4
5

In [38]:
# so this way,
# num=num+10 is same as num+=10
# num=num-10 is same as num-=10
# num=num*10 is same as num*=10
# num=num/10 is same as num/=10

In [39]:
#indenting is important, lets see why
num=0
for x in list_1:
    num+=1
print (num)

5

In [40]:
# we got 5 because, code ran 5 times and num ended with value 5, and thats got printed at the end

In [41]:
# nested loops

In [42]:
list_2=[[1,2],[3,4],[5,6]]

In [43]:
for x in list_2:
    print(x)

[1, 2]
[3, 4]
[5, 6]

In [44]:
for x in list_2:
    print(x[0])

1
3
5

In [45]:
for x in list_2:
    print(x[1])

2
4
6

In [46]:
#to get all the elements
for x in list_2:
    print(x[0])
    print (x[1])

1
2
3
4
5
6

In [47]:
#to get all the elements (alternate and cool way)
for x in list_2:
    for y in x:
        print(y)

1
2
3
4
5
6

In [51]:
list_2

[[1, 2], [3, 4], [5, 6]]

In [52]:
#concept of 'unpacking'. since list 2 (as seen above and here) is consistent with 2 elements as each elemnt in it, 
#lets say like [a,b]
for x in list_2:
    print (x)

[1, 2]
[3, 4]
[5, 6]

In [57]:
# so we can also run the loop as 
for [a,b] in list_2:
    print(a)
    print(b)

1
2
3
4
5
6

In [58]:
for [a,b] in list_2:
    print([a])
    print([b])

[1]
[2]
[3]
[4]
[5]
[6]

In [60]:
# we dont even need to write [a, b] in list, a, b are sufficient too
for a,b in list_2:
    print(a)
    print(b)

1
2
3
4
5
6

In [61]:
#out of curiosity
for a,b in list_2:
    print(a)

1
3
5

In [62]:
for a,b in list_2:
    print(a)
    a=a+1

1
3
5

In [63]:
#nothing forget it, this holds true for when we have a variable assigned

In [64]:
#also please note this a, b method will oly works when there are consistence values as in list_2
#it wont work for list_3, as below

In [65]:
list_3=[[1,2], [3,4,5], [6,7]]

In [66]:
for a,b in list_3:
    print(a)

1

ValueError: too many values to unpack (expected 2)

In [67]:
# see the error, too many values to be unpacked, so unpacking doesn't work here. so to get the values use nested loops

In [69]:
for x in list_3:
    for y in x:
        print(y)

1
2
3
4
5
6
7

In [70]:
# for loops continued

In [71]:
tup_1=(1,2,3,4,5)

In [72]:
for x in tup_1:
    print(x)

1
2
3
4
5

In [73]:
tup_2=((1,2),(3,4),(5,6)) #lets unpack them now

In [74]:
for a,b in tup_2:
    print(a)
    #print(b)

1
3
5

In [75]:
for a,b in tup_2:
    #print(a)
    print(b)

2
4
6

In [76]:
for a,b in tup_2:
    print(a)
    print(b)

1
2
3
4
5
6

In [77]:
#sets are also iterable
set_1={'tv', 'sofa', 'desk', 'lamp'}

In [78]:
set_1

{'desk', 'lamp', 'sofa', 'tv'}

In [79]:
for x in set_1:
    print(x)

tv
lamp
sofa
desk

In [80]:
#strings are also iterable
str_1=('Hello World')

In [81]:
for characters in str_1:
    print(characters)

H
e
l
l
o

W
o
r
l
d

In [82]:
#lets see dictionaries
dict_1={'key_1':'value1','key_2':'value2'}

In [83]:
for a in dict_1:
    print(a)

key_1
key_2

In [84]:
#so only keys got returned, lets try unpacking to get key-value pair
for a,b in dict_1:
    print(a)
    print(b)

ValueError: too many values to unpack (expected 2)

In [85]:
#hmm, it didn't work, thus dict are also iterables but less intutive than other objects.
#even for a:b in dict_1 format wont work
#so what else we can do to get key-value pairs,,,first, lets convert dict to list (more iterable object)

In [86]:
dict_1.items()

dict_items([('key_1', 'value1'), ('key_2', 'value2')])

In [87]:
#so basically, we can loop item in line 86 (dict_1.items())

In [88]:
for a,b in dict_1.items():
    print(a)
    print(b)

key_1
value1
key_2
value2

In [89]:
#cool, it works

In [90]:
#combining control flow with loop

In [91]:
furniture=['sofa','desk','lamp','tv']

In [94]:
#self try, wanted to print elements other than tv, but this is wrong, but still try
if a!='tv':
    for a in furniture:
        print (a)

sofa
desk
lamp
tv

In [95]:
#right menthod is control flow, with in the loop

In [96]:
for a in furniture:
    if a!='tv':
        print(a)

sofa
desk
lamp

In [97]:
#coding exercise

In [98]:
list_1=[11,20,33,42,52,61,72,83,92,10]

In [99]:
#printing the numbers that can properly be divided by 2 (remainedr=0)
for x in list_1:
    if x%2==0:
        print(x)

20
42
52
72
92
10

In [101]:
#WHILE LOOPS

# while condition:
        #<code>

In [115]:
a=0
while a<5:
    print('value is now', a)
    a+=1

value is now 0
value is now 1
value is now 2
value is now 3
value is now 4

In [116]:
a=0
while a<5:
    a+=1
    print(f'the value of a is {a}')

the value of a is 1
the value of a is 2
the value of a is 3
the value of a is 4
the value of a is 5

In [117]:
a=0
while a<5:
        print(f'the value of a is {a}')
        a+=1

the value of a is 0
the value of a is 1
the value of a is 2
the value of a is 3
the value of a is 4

In [118]:
#note the diff in 116 & 117

In [ ]:
#beaware of infinite loop, may have to interrupt the kernal
#if python is used on command line, press ctrl+c instead