In [1]:
#Break Continue Pass statements (to be used in control flow and loops)

In [2]:
#pass statement - basically helps us to avoid sysntax error

In [7]:
num=2
if num==2:
    pass #(#code to be completed later)
else:
    print(num)

In [8]:
# above code can now be executed even without filling in any code after if, this left code can be filled later and .....
# ...we wont get any error for not providng the code

In [9]:
num = [0,1,2,3,4,5,6,7,8,9,10]
num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#lets say we want to print above list but not with element 5
for x in num:
    if x==5:
        pass
    else:
        print (x)

0
1
2
3
4
6
7
8
9
10

In [15]:
#break statemnt

In [18]:
#lets say if instead of pass, we use break, then lets see what will happen

for x in num:
    if x==5:
        break
    else:
        print(x)

0
1
2
3
4

In [20]:
# so it breaks at 5. Even though loop was supposed to be run till all elements ofthe list were printed..
# but break statement, breaks the loop at x==5

In [23]:
#line 18 code can be written even without else statement, lets see

for x in num:
    if x==5:
        break
    print(x)

0
1
2
3
4

In [ ]:
#continue statement: this skips the code for current iteration (means the if statement is true), and continue with next

In [24]:
for x in num:
    if x==5:
        continue
    print(x)

0
1
2
3
4
6
7
8
9
10

In [22]:
#so here, when x was  5, it skips, and continued from 6 onwards

In [25]:
#List Comprehension

In [26]:
#lets say we want to convert each character of  hw_text string to list
hw_text='hello world'

In [27]:
hw_text

'hello world'

In [28]:
#firts lets create a blank list
hw_list=[]

In [29]:
hw_list

[]

In [30]:
#so now use the for loop here

In [31]:
for x in hw_text:
    print (x)

h
e
l
l
o

w
o
r
l
d

In [32]:
for char in hw_text:
    hw_list.append(char)

In [33]:
hw_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [34]:
#here you go. but with list_comprehension, this can be simplified, lets see (basically some reassigning of code)

In [36]:
hw_list=[]

In [37]:
hw_list

[]

In [38]:
#cool, its made blabk again, lets do list comprehension now

In [40]:
hw_list= [char for char in hw_text]

In [41]:
hw_list

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [42]:
#cool, so we skipped append, and jumped directly to create a list this way

In [43]:
#to each iterable element, we can assign operation/methods too. lets say we wanted list with upper case

In [44]:
hw_list= [char.upper() for char in hw_text]

In [45]:
hw_list

['H', 'E', 'L', 'L', 'O', ' ', 'W', 'O', 'R', 'L', 'D']

In [46]:
hw_list= [char+char for char in hw_text]
hw_list

['hh', 'ee', 'll', 'll', 'oo', '  ', 'ww', 'oo', 'rr', 'll', 'dd']

In [47]:
#again, list comrehension is optional to use, do it if you want, otherwise for loop is working

In [48]:
#coding excercise

In [50]:
list_1 = [20,2,3,4,5]

# Write your code below
list_2=[x*16 for x in list_1]
list_2

[320, 32, 48, 64, 80]

In [51]:
#in & Not In
#In returns true, if the object is found
#Not in, returns True if the object CAN-NOT be found

In [53]:
list_1=[1,2,3,4]
#to confirm if 4 is in the list
4 in list_1

True

In [54]:
6 in list_1

False

In [55]:
#cool, it works the same way in tuples and sets, and string too

In [56]:
#in dict, it only checks for keys

In [57]:
dict_1={'key1':'value1', 'key2':'value2'}

In [58]:
dict_1

{'key1': 'value1', 'key2': 'value2'}

In [60]:
'key1' in dict_1

True

In [61]:
'value1' in dict_1

False

In [62]:
#oops, wrong result, value 1 is there in dict_1. so it doesn't work for values then, hmmm
#so how to do it now ??
#remember, we can call dict values in an object dict_.value() :)

In [63]:
dict_1.values()

dict_values(['value1', 'value2'])

In [64]:
#so, lets check here
'value1' in dict_1.values()

True

In [65]:
#bingo, its there
#lets not leave tuples, sets and strings too, continue after line 55...

In [66]:
tuple_1=(1,2,3,4)
1 in tuple_1

True

In [67]:
set_1={1,2,3,4}
2 in set_1

True

In [68]:
1 not in set_1

False

In [73]:
str_1='Hello world'

In [74]:
'h' in str_1

False

In [75]:
'H' in str_1

True

In [77]:
'Hel' in str_1

True