In [1]:
#Funtions (ex: print, help), are not limited to data types like methods are. So they can be used with any.....
#....data type (list, string, dict, tuple etc). 
#built in functions (print, return, help, type, pow, sum, max, min, len, round, range, sorted, input, float, zip, enumerate)

In [ ]:
help(str) #...dont execute, takes lot of space

In [ ]:
help(numpy) #...dont execute, takes lot of space

In [5]:
pow(2,3)

8

In [6]:
#sum function

In [7]:
list_num=[3,7,10]
set_num={3,7,10}
tup_num=(3,7,10)

In [8]:
sum(list_num)

20

In [9]:
sum(set_num)

20

In [10]:
sum(tup_num)

20

In [11]:
#just for curiosity, to see if we can add list+set+tup
list_num + set_num + tup_num

TypeError: can only concatenate list (not "set") to list

In [12]:
list_num + tup_num

TypeError: can only concatenate list (not "tuple") to list

In [13]:
list_num + list_num

[3, 7, 10, 3, 7, 10]

In [14]:
set_num + set_num

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [15]:
tup_num+tup_num

(3, 7, 10, 3, 7, 10)

In [16]:
2*tup_num

(3, 7, 10, 3, 7, 10)

In [17]:
3*tup_num

(3, 7, 10, 3, 7, 10, 3, 7, 10)

In [18]:
2*list_num

[3, 7, 10, 3, 7, 10]

In [19]:
#cool stuff, lets get back

In [20]:
#max & min

In [21]:
max(list_num)

10

In [22]:
max(set_num)

10

In [23]:
max(tup_num)

10

In [24]:
min(list_num)

3

In [25]:
min(set_num)

3

In [26]:
min(tup_num)

3

In [27]:
# if there is list with charcaters instead of numbers

In [34]:
list_char=['a', 'b', 'z1']

In [35]:
max(list_char)

'z1'

In [36]:
min(list_char)

'a'

In [32]:
#len function
len(list_num)

3

In [37]:
len(list_char)

3

In [38]:
#round function

In [39]:
x=100/3
x

33.333333333333336

In [40]:
round(x,2)

33.33

In [41]:
roundup(x,2)

NameError: name 'roundup' is not defined

In [ ]:
#hmm, round up and round down, how to do, we shall see...

In [42]:
#range function (start, end and step), and it gves us the value

In [46]:
x=range(0,11,2)
x

range(0, 11, 2)

In [47]:
tuple(x) #thus range values can be called in as tuple

(0, 2, 4, 6, 8, 10)

In [48]:
list(x)

[0, 2, 4, 6, 8, 10]

In [49]:
#alternatively, use loop to print x

for a in x:
    print(a)

0
2
4
6
8
10

In [50]:
#sorted (takes an parameter, converts to list and then sort a list)

In [53]:
sorted("hello")

['e', 'h', 'l', 'l', 'o']

In [54]:
# for descending order, just pass an argument reverse=True, see below (remember True with capital T)

In [57]:
sorted('hello', reverse=True)

['o', 'l', 'l', 'h', 'e']

In [58]:
sorted([1,2,5, 6, 3 ,1])

[1, 1, 2, 3, 5, 6]

In [59]:
sorted([1,2,5,6,3,1], reverse=True)

[6, 5, 3, 2, 1, 1]

In [60]:
#input function (takes user input n store it in variable)

In [61]:
input()

hello

'hello'

In [62]:
x=input()

hello

In [63]:
x

'hello'

In [64]:
num=input()

123

In [65]:
num

'123'

In [66]:
#so 123 returned here is as a string, so input stores the values as strings

In [67]:
#to store x as integer, use int funtion with input

In [68]:
x=int(input())

1234

In [69]:
x

1234

In [70]:
type(x)

int

In [71]:
#cool,now float will convert x to float

In [72]:
x=float(x)
x

1234.0

In [122]:
#if we want user to input something, we should display it with some message, like this...
input('please type in the value tha you want to enter')

please type in the value tha you want to enter5678-r

'5678-r'

In [73]:
#converting list to tuple or set or string

In [74]:
list_1=[1,2,3]

In [75]:
tuple(list_1)

(1, 2, 3)

In [76]:
set(list_1)

{1, 2, 3}

In [77]:
str(list_1)

'[1, 2, 3]'

In [78]:
dict(list_1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [79]:
#zip funtion

In [80]:
list1=[1,2,3,4]
tup1=(1,2,3,4,5)
string1='hello'

In [81]:
x=zip(list1,tup1,string1)

In [82]:
type(x)

zip

In [83]:
x

In [84]:
print(x)

<zip object at 0x0000021B054EF7C0>

In [85]:
#hmm, not displaying x this way, looks like it should be convereted to tuple, set or list

In [86]:
tuple(x)

((1, 1, 'h'), (2, 2, 'e'), (3, 3, 'l'), (4, 4, 'l'))

In [87]:
list(x)

[]

In [88]:
x

In [89]:
list(x)

[]

In [90]:
#hmm, since this x is already a tuple now, so giving a blank list, lets zi it again, and call it as list

In [91]:
x=zip(list1,tup1,string1)

In [93]:
list(x)

[(1, 1, 'h'), (2, 2, 'e'), (3, 3, 'l'), (4, 4, 'l')]

In [94]:
# cool, we got x as list now. lets zip it again to see if we have zip elements order

In [98]:
tup1=(1,2,3,4,5)
string1='hello'
list1=[1,2,3,4]

In [99]:
x=zip(tup1,string1, list1) #see order of elements inside zip funtion is changed

In [100]:
tuple(x)

((1, 'h', 1), (2, 'e', 2), (3, 'l', 3), (4, 'l', 4))

In [101]:
#hmm, as list has smallest number of element (4 elements), x has 4 elements too. so size of zip is as of smallest....
#...iterable object

In [102]:
#enumerate function

In [103]:
list1=[1,2,3,'random']

In [104]:
x=enumerate(list1)

In [105]:
x

In [106]:
list(x)

[(0, 1), (1, 2), (2, 3), (3, 'random')]

In [107]:
#so you see enumerate provides index postion with its corresponding element. in list1, 1 is at 0 index, so (0,1).....
#....2 is at position1, so (1,2), and so on and thus we get [(0, 1), (1, 2), (2, 3), (3, 'random')]

In [108]:
#lets do it to get set, str, tiple, and dict, and see what happens

In [110]:
tuple(x)

()

In [111]:
#obviously x is now list, so will get blank tuple (or set or str, or dict), lets define it again

In [112]:
x=enumerate(list1)
x

In [113]:
tuple(x)

((0, 1), (1, 2), (2, 3), (3, 'random'))

In [114]:
x=enumerate(list1)
set(x)

{(0, 1), (1, 2), (2, 3), (3, 'random')}

In [115]:
x=enumerate(list1)
dict(x)

{0: 1, 1: 2, 2: 3, 3: 'random'}

In [116]:
#there are loads of functions in python, again, keep learning

In [117]:
#coding execrcise

In [118]:
num = [99,83.298,2,17.823,15]

In [119]:
sum_num=sum(num)

In [120]:
sum_num

217.121

In [121]:
max_num=max(num)
max_num

99