In [1]:
#user defined functions, create your own functions

#def function_name(arguments):
        #<indented code code>

In [2]:
def welcome_msg():
    print ('welcome')

In [4]:
#now lets call this function, dont forget to use '()' in the end
welcome_msg()

welcome

In [5]:
#cool, lets put an argument now, lets redefine the same funtion

In [13]:
def welcome_msg(x):
    print(f'welcome {x}')

In [15]:
welcome_msg()

TypeError: welcome_msg() missing 1 required positional argument: 'x'

In [17]:
#oh, this time need to specify x in/as argument

In [19]:
welcome_msg('John')

welcome John

In [20]:
welcome_msg('Anita')

welcome Anita

In [21]:
# if x in print was not in {}, lets see what happens
def welcome_msg(y):
    print(f'welcome y')

In [23]:
welcome_msg('Shushi')

welcome y

In [24]:
#hmm

In [27]:
#we can provide multiple arguments too
def welcome_msg(x,y,z):
    print (f'welcome {x}, {y} and {z}')

In [28]:
welcome_msg('John', 'Anita', 'Bipin')

welcome John, Anita and Bipin

In [29]:
#lets say if we dont provide argument, it thows error as below:
welcome_msg()

TypeError: welcome_msg() missing 3 required positional arguments: 'x', 'y', and 'z'

In [30]:
#in these scenerios, if we want some by default values, then our function should be defined as:
def welcome_msg(x='name1', y='name2', z='name3'):
    print(f'welcome {x}, {y} and {z}')

In [31]:
welcome_msg()

welcome name1, name2 and name3

In [32]:
#hence by default values of name1, name2 and name3 are picked up

In [33]:
#we can now also provide half prompts

In [34]:
welcome_msg('John')

welcome John, name2 and name3

In [35]:
#by default 'John' is assigned to x, if we want it to be assigned to z, we will go like this
welcome_msg(z='John')

welcome name1, name2 and John

In [38]:
#lets see 1 more imp things, difference between 'print' and 'return'. 

# Print just print and its value can not be stored as x (lets say in any variable)
# return, also prints like print, but its value can be stored in x (or any other variable)

In [39]:
def print_message():
    print ('This message has been printed')
    
def return_message():
    return ('This message has been returned')

In [41]:
print_message()

This message has been printed

In [43]:
#lets assign it to x
x= print_message()

This message has been printed

In [44]:
x

In [45]:
#you see nothing happened. also lets see type of x
type(x)

NoneType

In [46]:
# lets see what return does

In [47]:
return_message()

'This message has been returned'

In [48]:
#hmm, so there is outut, out[47], but this was not the case with print as in In[41]. Lets assign it to y
y=return_message()

In [49]:
y

'This message has been returned'

In [50]:
#so you see, y is returned, lets check type of y  (shd be string)
type(y)

str

In [51]:
#yup, it is string, so thats the difference between print and return

In [52]:
# 42-user defined functions - examples

In [53]:
# in earlier lectures, we were able to do 'sum' and 'len' function, but not average. so lets do it now by defining avg

In [54]:
list_1=[3,10,11,3] # so average here will be sum divided by total elements

In [55]:
 def avg_list1():
        sum(list_1)/len(list_1)

In [57]:
avg_list1()

In [58]:
type(avg_list1)

function

In [59]:
#hmm, you see we are not getting the average, somthing missing, may be arguments and/or 'return', lets do it again

In [60]:
def avg_list1(x):
    return sum(x)/len(x)

In [61]:
avg_list1(list_1)

6.75

In [62]:
#cool, it works, lets do it again with list_2

In [63]:
list_2=[4,5,6,7,8]

In [64]:
avg_list1(list_2)

6.0

In [65]:
#cool, it is indeed 6

In [66]:
z= 'hello'

In [67]:
avg_list1(z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [68]:
#cool, because z is a string, thus error in calculating average

In [69]:
#lets use a control flow (if, else, elif), to throw error message for this scenerio

In [73]:
def avg(x):
    if type(x)==str:
        print ('input error')
    else:
        return sum(x)/len(x)

In [74]:
avg(z)

input error

In [72]:
# oh wow, it worked....(please note string is written as str, not 'str')
#lets see what udemy teaches

In [75]:
#almost same as i tried
def avg(x):
    if type(x) in [list, tuple,set]: #note: lists, tuple and sets are not in ''
        return sum(x)/len(x)
    else:
        print (' please pass in a list, tuple or set')

In [76]:
avg(list_1)

6.75

In [77]:
avg(list_2)

6.0

In [78]:
avg(z)

 please pass in a list, tuple or set

In [80]:
list_3=['Ram', 1,2, 3]

In [81]:
avg(list_3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [82]:
#hmm, but why, since we gave a list as input , we will see later

In [83]:
#lets create a function that needs user input for (start, stop and increment), like range. 1st lets see range

In [88]:
r=range(0,11,1)

In [89]:
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [90]:
#to create a similar function by giving user ability to input (please note, with input functionm user will input the value.

In [91]:
#revising
input()

hello

'hello'

In [93]:
input('please type in the start value ')

please type in the start value 345-test

'345-test'

In [121]:
def create_ranged_list():
    x=int(input('Please select a start value: '))
    y=int(input('please select a stop value: '))
    z= int(input('please select an incremental value: '))
    return list(range(x,y,z))

In [122]:
create_ranged_list()

Please select a start value: 1
please select a stop value: 10
please select an incremental value: 1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
#creating a function to return true if list contains item greter than 10, else false

In [124]:
def greater_than_10(x):
    for element in x:
        if element>10:
            return True
        else:
            return False

In [127]:
list_1=[2,4,5,7,8,10,22]
list_2=[2,4,5,7,8,10,3]

In [129]:
greater_than_10(list_1)

False

In [130]:
greater_than_10(list_2)

False

In [131]:
#hmm, this doesn't work even when list_1 has 22, which is >10, but why..? this is because:...

#.. as there is a loop, so as first value is (2, which is <10), so 'return' function will return False and exit the loop

#For that we have to tweak code in [124] as:

In [132]:
def greater_than_10 (x):
    for element in x:
        if element>10:
            return True
        else:
            pass
    return False

In [133]:
#cool, so now false is printed (actually returned), when all the elements of list are checked (1 by 1)

In [134]:
greater_than_10(list_1)

True

In [135]:
greater_than_10(list_2)

False

In [136]:
#cool, now its good result

In [137]:
#coding excercise

In [149]:
def add_nums(x,y):
    return sum(tuple(x,y))

In [150]:
add_nums(2,3)

TypeError: tuple expected at most 1 argument, got 2

In [148]:
a=2
b=3
set(a,b)

TypeError: set expected at most 1 argument, got 2

In [153]:
def add_nums_2(a,b):
    return a+b

In [154]:
add_nums_2(4,5)

9

In [165]:
def name_check(q):
    for element in q:
        if len(element)>10:
            return True
        else:
            pass
    return False

In [169]:
q=['the_alphabet', 'the_amazon']
r=['pleson', 'jlt', 'romeo']

In [168]:
name_check(q)

True

In [170]:
name_check(r)

False

In [171]:
#*args from next exercise, just trying here out of curiosity, but will visit in next lecture (args & kwargs)

In [174]:
def sum_num(*args):
    return sum(args)

In [176]:
sum_num(4,5,1,9)

19

In [ ]:
#ooh, thats what i was chasing in [148]