In [1]:
#arrays - they are like lists, but with only same data type (int array, float array etc), 
#they store data more efficintly and can be shrink or expand with the items

#numpy = numerical python (numpy values stats with index 0)

#(FILTERING ARRAY)

In [2]:
# 1D array [1,2,3,4,5]

# 2D array  [1,2,3,4,5]
#           [1,2,3,4,5]
#           [1,2,3,4,5]

# 0 axis along the rows, 1 axis along the coulmns (0,1)

In [3]:
np.array([100,200,300,400,500])/100

NameError: name 'np' is not defined

In [4]:
#this is coz we have not imported numpy library, lets do it

In [5]:
import numpy as np

np.array([100,200,300,400,500])/100

array([1., 2., 3., 4., 5.])

In [6]:
#so here, we had easily didvided an array with 100, in list we woul have used a loop, so could have been complicated there

In [7]:
#syntax to create np arrays is numpy.array(object, datatype) or np.array(object, dtype)

In [8]:
list1=[1,2,3,4,5] #lets convert this list to np array

In [9]:
np.array(list1) #np has already been imported above,so is not needed now

array([1, 2, 3, 4, 5])

In [10]:
# lets assign it to x

x=np.array(list1)

In [11]:
x

array([1, 2, 3, 4, 5])

In [12]:
type(x)

numpy.ndarray

In [13]:
#so x is n dimension array (actually it is 1d array), to confirm see below

In [15]:
np.shape(x)

(5,)

In [16]:
# it means there are 5 elements in each row, since it only has 1 row we see (5,)

# in numpy, lot of functions can be used as methods & attributes

In [17]:
x.shape

(5,)

In [18]:
# so we didn't need '()' after shape as this is an attribute and not a method

In [19]:
# we can also create an array, by passing a list (referencing not important here)

np.array([1,2,3,4,5]) # passed on a list

array([1, 2, 3, 4, 5])

In [21]:
np.array((1,2,3,4,5,6,7,8)) # passed on a tuple

array([1, 2, 3, 4, 5, 6, 7, 8])

In [22]:
# so basically, any array like object. but it wont work good with set, lets see

In [26]:
np.array({1,2,2,1})

array({1, 2}, dtype=object)

In [28]:
np.array({1,2,2,1}).shape

()

In [29]:
#hmm, so its basically a single element, as with set it passes the contect of the set as single element....
#....as there is no 0 axis, and no 1 axis

# so, better to convert set into list first

In [30]:
np.array(list({1,2,2,1}))

array([1, 2])

In [31]:
#cool, now we get the array

In [32]:
#lets create a 2D array, it can be done by passig an embedded list, see below:

In [36]:
arr2d=np.array([[1,1,1],[2,2,2],[3,3,3],[4,4,4]])

In [37]:
arr2d # so each nested list (lists within main list) forms a row

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3],
       [4, 4, 4]])

In [38]:
arr2d.shape

(4, 3)

In [39]:
#so here in 2d, we have (4,3)..which is 4 rows, 3 columns

In [42]:
#lets create another 2D array, will use list1 created above, and new list2

list1

[1, 2, 3, 4, 5]

In [43]:
list2=[6,7,8,9,10]

In [52]:
arr2d_2=np.array([list1,list2]) # note list1 & list2 are still in [] to create embedded list

In [53]:
arr2d_2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [54]:
arr2d_2.shape

(2, 5)

In [55]:
#hence 2 rows and 5 columns

In [56]:
np.shape(arr2d_2)

(2, 5)

In [57]:
#same shape returned, just wanted to check

In [58]:
#data types in numpy (visit a link numpy.org data types), example longdouble data type (character code='g')

# data types in numpy, offers precise values than what is offered in python

In [59]:
#lets look at the follwoing example

100/3

33.333333333333336

In [60]:
#so its not precise after 15 the characters, lets see what longdouble does (lets convert the number to longdouble dtype)

In [61]:
np.longdouble(100)/np.longdouble(3)

33.333333333333336

In [62]:
# lol! its same, hmm, then how come tutorial shows 2 at the end, instead of 6 :(3.3333333333333336 vs 3.3333333333333332)

In [63]:
np.longdouble(100/3)

33.333333333333336

In [64]:
#still same

In [65]:
# cretae array with longdouble datatype

In [66]:
np.array([1,2,3.1453,5], dtype=np.longdouble)

array([1.    , 2.    , 3.1453, 5.    ], dtype=float64)

In [67]:
#we can also specify this as:

np.array([1,2,3.1453,5], dtype='g') #since 'g is the code for longdouble'

array([1.    , 2.    , 3.1453, 5.    ], dtype=float64)

In [68]:
#array slicing and indexing

In [69]:
arr1=np.array([1,1,1,1])

In [70]:
arr2=np.array([[1,1,1,1]])

In [71]:
arr1==arr2 #JLT

array([[ True,  True,  True,  True]])

In [72]:
2==3 #JLT

False

In [73]:
#Lets see the difference between arr1 and arr2

arr1.shape

(4,)

In [74]:
arr2.shape

(1, 4)

In [75]:
#so arr2 is 2d array

In [80]:
#jlt
# jsut checking if nested lists has different lengths, then how array behaves (it actually throws below err)
arr3=np.array([[1,2,3,4,5],[5,6,7,8],[9,10,11,12,13]])
arr3

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 1 dimensions. The detected shape was (3,) + inhomogeneous part.

In [81]:
# lets come back to arr1 & arr2

In [82]:
arr1

array([1, 1, 1, 1])

In [83]:
arr2

array([[1, 1, 1, 1]])

In [84]:
#lets come back to slicing and indexing

array_1d = np.array([2,5,6,4,6,4,3])
array_2d = np.array([[2,5,6,7,60,47,3],[11,50,6,9,62,42,30],[16,53,86,69,2,2,50]])

In [85]:
array_1d

array([2, 5, 6, 4, 6, 4, 3])

In [86]:
array_2d

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [87]:
#slicng & indexing 1d array is similar to list

In [88]:
array_1d[0]

2

In [89]:
array_1d[:3]

array([2, 5, 6])

In [91]:
array_1d[-5:]

array([6, 4, 6, 4, 3])

In [92]:
#lets see what about 2d array

In [110]:
array_2d

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [112]:
array_2d[0]

array([ 2,  5,  6,  7, 60, 47,  3])

In [116]:
array_2d[0][1]

5

In [104]:
array_2d[0:]

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [105]:
array_2d[0:1]

array([[ 2,  5,  6,  7, 60, 47,  3]])

In [106]:
array_2d[0:2]

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30]])

In [113]:
array_2d[1]

array([11, 50,  6,  9, 62, 42, 30])

In [107]:
array_2d[1:]

array([[11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [109]:
array_2d[1:2]

array([[11, 50,  6,  9, 62, 42, 30]])

In [111]:
array_2d[1:3]

array([[11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [114]:
array_2d[2]

array([16, 53, 86, 69,  2,  2, 50])

In [115]:
#looking similar to list, but wait..what if we want [6,9,62,42,30]
#                                                   [86,69,2,2,50]

#so looks we will go to row1 [11,50,6,9,62,42,30], and then take everything from 2nd index onwards, so lets try:

In [117]:
array_2d[1:,2]

array([ 6, 86])

In [118]:
#so we only get 1st index row, 2nd indexed column (but we also want everything after 2), so use 2:

In [119]:
array_2d[1:,2:]

array([[ 6,  9, 62, 42, 30],
       [86, 69,  2,  2, 50]])

In [120]:
#cool, so go to indexed row, then indexed column (and suitably use 1,2 or 1:,2: as required)

In [121]:
# lets say if we want [50,  6,  9, 62],
#                      [53, 86, 69,2]

# so we now have to take index 1 for row (as 1:), and index 1 to 5 for column (as ,1:5)

In [125]:
array_2d[1:,1:5]

#so this says, on x (rows), give me element 1 and after, and on y (columns), give me 1 to 4 index (1-5 columns)

array([[50,  6,  9, 62],
       [53, 86, 69,  2]])

In [132]:
# to return element 50, use:
array_2d[2,6]

50

In [133]:
#or
array_2d[2,-1]

50

In [134]:
#reversing everything on 0 axis

In [135]:
array_2d[0][-1:-7:-1]

array([ 3, 47, 60,  7,  6,  5])

In [141]:
#or
array_2d[0][7:0:-1]

array([ 3, 47, 60,  7,  6,  5])

In [142]:
array_2d

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [140]:
#reversing the whole array (:,:-1) ....along 0 indexed row (upside down)
array_2d[::-1]

array([[16, 53, 86, 69,  2,  2, 50],
       [11, 50,  6,  9, 62, 42, 30],
       [ 2,  5,  6,  7, 60, 47,  3]])

In [157]:
#JLTs

In [159]:
array_2d[0]

array([ 2,  5,  6,  7, 60, 47,  3])

In [160]:
array_2d[0,1]

5

In [162]:
array_2d[0,1:3]

array([5, 6])

In [163]:
array_2d[0:1]

array([[ 2,  5,  6,  7, 60, 47,  3]])

In [172]:
array_2d[0:1]+array_2d[0:1]

array([[  4,  10,  12,  14, 120,  94,   6]])

In [173]:
array_2d[0:1]+2

array([[ 4,  7,  8,  9, 62, 49,  5]])

In [181]:
array_2d[1:,:2] #this says  on x (rows) go & start from index row1 (which is 2nd row)...
#                                ........and then on y, take the values before indexed column 2. note - ',' is for (x,y)

array([[11, 50],
       [16, 53]])

In [182]:
array_2d[1:,2] #this says  on x (rows) go & start from index row 1 (which is 2nd row)...
#                                ........and then on y, take the values at indexed column 2. note - ',' is for (x,y)

array([ 6, 86])

In [183]:
array_2d[1:,2:] #this says  on x (rows) go & start from index row1 (which is 2nd row)...
#                                .....and then on y, take the values at and after indexed column 2. note - ',' is for (x,y)

array([[ 6,  9, 62, 42, 30],
       [86, 69,  2,  2, 50]])

In [190]:
array_2d[:3:1,-1] #this says  on x (rows) go & start from index row 0 (which is 1 row) and then go up to index row (3-1=2)...
#                                .....which is 3rd row, so basically take all rows...and then on y, take the values...
#                              .....at indexed column of -1 (which is last column). note - ',' is for (x,y)

array([ 3, 30, 50])

In [197]:
#reversing the whole array (:,:-1) ....along 0 indexed column (right side turned to left)
array_2d[:,::-1]

array([[ 3, 47, 60,  7,  6,  5,  2],
       [30, 42, 62,  9,  6, 50, 11],
       [50,  2,  2, 69, 86, 53, 16]])

In [199]:
#or
array_2d[:,-1:-8:-1]

array([[ 3, 47, 60,  7,  6,  5,  2],
       [30, 42, 62,  9,  6, 50, 11],
       [50,  2,  2, 69, 86, 53, 16]])

In [200]:
#boolean array indexing

In [201]:
array_1d

array([2, 5, 6, 4, 6, 4, 3])

In [203]:
array_1d>3 # so this way we get false where element is less than 3, and true where element >3

array([False,  True,  True,  True,  True,  True, False])

In [210]:
#we are looking to pull elements from array_1d that are greater than 3 (FILTERING ARRAY)

array_1d_filtered1=np.array(array_1d>3)
array_1d_filtered1

array([False,  True,  True,  True,  True,  True, False])

In [211]:
#no, not this way, we dont need np.array, just mention array_1d(array_1d>3), lets filter it again

In [216]:
array_1d_filtered2=array_1d[array_1d>3] #note: we are using'[]' sq bracket for this operation on original array
array_1d_filtered2

array([5, 6, 4, 6, 4])

In [217]:
#cool, nw lets see this in array_2d

In [218]:
array_2d

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [220]:
array_2d>10

array([[False, False, False, False,  True,  True, False],
       [ True,  True, False, False,  True,  True,  True],
       [ True,  True,  True,  True, False, False,  True]])

In [222]:
array_1d_filtered2d = array_2d[array_2d>10]
array_1d_filtered2d

array([60, 47, 11, 50, 62, 42, 30, 16, 53, 86, 69, 50])

In [223]:
array_1d_filtered2d.shape

(12,)

In [224]:
#hmm, it changed it to 1d array, cool

In [226]:
#1 more thing before wrapping up, lets create an array and list

In [240]:
array_1=np.array([1,1,2,3,4])

list_1=[1,1,2,3,4]

In [229]:
list_1=[1,1,2,3,4]

In [232]:
list_1[0]=10 #assigning value 10 to 1st element (at 0 index)

In [233]:
list_1

[10, 1, 2, 3, 4]

In [234]:
#cool, list changed. Now, how about assigning 10 to all other value of list (you will see error here)

In [237]:
list_1[:]

[10, 1, 2, 3, 4]

In [238]:
list_1[:]=10

TypeError: can only assign an iterable

In [239]:
#hmm, can we do this in array, lets see

In [241]:
array_1

array([1, 1, 2, 3, 4])

In [242]:
array_1[:]=10

In [243]:
array_1

array([10, 10, 10, 10, 10])

In [244]:
#cool, so with array, we can reassign values easily