In [1]:
#Pandas can do :-
#IO of data, handle large data sets, filter data, data cleansing, pivot/reshape data, aggreegations(group by etc)...
#...join, merge, timeseries and windows etc...

# pandas main data structures: series and dataframes (collection of series)

#series:
# 0,x
# 1,x
# 2,x
# .
# .
# N,x

#pandas:
#   A B C
# 0,x,x,x
# 1,x,x,x
# 2,x,x,x
# .
# .
# N,x,x,x

In [2]:
#series syntax
#pd.Series(data=None, index=None, dtype=None, ..others..)...note:- Series starts with capital 'S', not with 's'

#data=array like, iterable, dict or scaler
#index = array like or index, same lengthe as of data count

In [3]:
index_list=[0,1,2,3,4,5]

In [4]:
data_list=[100,200,300,400,500,600]

In [5]:
#so, series will be like:

Series_1=pd.Series(data=data_list, index=index_list) #note:- Series starts with capital 'S', not with 's'

NameError: name 'pd' is not defined

In [6]:
#cool, coz we haven't called in pandas, so lets do it:

import pandas as pd

In [9]:
series_1=pd.Series(data=data_list, index=index_list) #note:- Series starts with capital 'S', not with 's'

In [10]:
series_1

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

In [11]:
#indexing

In [12]:
series_1[2]

300

In [14]:
series_1[2:]

2    300
3    400
4    500
5    600
dtype: int64

In [ ]:
#we can also do sum, multiplication etc in series

In [15]:
series_1.sum()

2100

In [16]:
series_1+series_1

0     200
1     400
2     600
3     800
4    1000
5    1200
dtype: int64

In [17]:
series_1

0    100
1    200
2    300
3    400
4    500
5    600
dtype: int64

In [18]:
series_1*3

0     300
1     600
2     900
3    1200
4    1500
5    1800
dtype: int64

In [ ]:
#lets convert the follwoing to series

In [19]:
month_index_2021 = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

In [20]:
revenue_data_2021 = (212861,100372,128953,100163,208129,182944,236284,243133,198641,158276,166398,178211)

In [21]:
revenue_series=pd.Series(revenue_data_2021, month_index_2021)

In [22]:
#since the order is there, we dont need to specify like (data=revenue_data_2021, index=month_index_2021)

In [23]:
revenue_series

Jan    212861
Feb    100372
Mar    128953
Apr    100163
May    208129
Jun    182944
Jul    236284
Aug    243133
Sep    198641
Oct    158276
Nov    166398
Dec    178211
dtype: int64

In [27]:
#lets see what type it is

type(revenue_series)

pandas.core.series.Series

In [24]:
#slicing it with the index

revenue_series['Jul']

236284

In [25]:
revenue_series['Jul':]

Jul    236284
Aug    243133
Sep    198641
Oct    158276
Nov    166398
Dec    178211
dtype: int64

In [26]:
revenue_series[['Mar', 'Jun', 'Nov']]

Mar    128953
Jun    182944
Nov    166398
dtype: int64

In [28]:
#so with in a series, we can pass in any data type. revenue data was tuple, where month data was a list

In [31]:
#lets call revenue_series again, and see what is the dtype(data type) of revenue_series

revenue_series

Jan    212861
Feb    100372
Mar    128953
Apr    100163
May    208129
Jun    182944
Jul    236284
Aug    243133
Sep    198641
Oct    158276
Nov    166398
Dec    178211
dtype: int64

In [32]:
#currently dtype in revenue_series is int, lets change it to float. For this we have to specify dtype as argumnet

revenue_series=pd.Series(revenue_data_2021, month_index_2021, dtype='float')
revenue_series

Jan    212861.0
Feb    100372.0
Mar    128953.0
Apr    100163.0
May    208129.0
Jun    182944.0
Jul    236284.0
Aug    243133.0
Sep    198641.0
Oct    158276.0
Nov    166398.0
Dec    178211.0
dtype: float64

In [47]:
#cool, so dtype changed, we can also provide the dtype code, example 'g' for object data type,lets see

revenue_series=pd.Series(revenue_data_2021, month_index_2021, dtype='g')
revenue_series

Jan    212861.0
Feb    100372.0
Mar    128953.0
Apr    100163.0
May    208129.0
Jun    182944.0
Jul    236284.0
Aug    243133.0
Sep    198641.0
Oct    158276.0
Nov    166398.0
Dec    178211.0
dtype: float64

In [48]:
#Dtype that os passed in a series (as an argument), also not needed to be of same dtye, example, lets change rev data

revenue_data_2021 = (212861,100372,128953,100163,208129,182944,236284,243133,198641,158276,166398,'no data available')

In [50]:
#now lets run 'revenue series' again

revenue_series=pd.Series(revenue_data_2021, month_index_2021)

revenue_series

Jan               212861
Feb               100372
Mar               128953
Apr               100163
May               208129
Jun               182944
Jul               236284
Aug               243133
Sep               198641
Oct               158276
Nov               166398
Dec    no data available
dtype: object

In [51]:
#see it worked..

#similarly, if nothing is passed in index, it is auto-assigned from 0-11 here, lets see

revenue_series=pd.Series(revenue_data_2021)

revenue_series

0                212861
1                100372
2                128953
3                100163
4                208129
5                182944
6                236284
7                243133
8                198641
9                158276
10               166398
11    no data available
dtype: object

In [52]:
#dict, if passed in series (With dictionaries the keys are read as indexes and the values ar read as data)

In [54]:
#dict

dict_1={'key1':'value1','key2':'value2','key3':'value3'}

In [55]:
pd.Series(data=dict_1, index=dict_1)

key1    value1
key2    value2
key3    value3
dtype: object

In [56]:
#actually, for dict, we dont even need to specify data & index argument, as pandas auto understands it, lets see

pd.series(dict_1)

AttributeError: module 'pandas' has no attribute 'series'

In [57]:
#beware, series is with captal 'S', not 's'...

pd.Series(dict_1)

key1    value1
key2    value2
key3    value3
dtype: object

In [ ]:
#cool, lets move to DF, which is collection of series